body {
	background-color: $color-light;
}

.component {
	padding: 40px 0;
	border-bottom: 1px solid $color-grey;
}
.component-description{
	font-style: italic;
	padding: 40px 0;
} 

.shell > h1 {
	padding: 2rem 1rem;
}