body {
	background-color: $color-light;
}

.component {
	padding: 40px 0;
	border-bottom: 1px solid $color-grey;
	h2:first-of-type {
		margin-left: 1rem;
	}
}
.component-description{
	font-style: italic;
	padding: 40px 0;
} 

.shell > h1 {
	padding: 2rem;
}