input, textarea, select, button {
	font-family: $font-stack; // Fixes Mozilla issue
}

.input-element {
	position: relative;
	margin-top: rem(16);
	label {
		color: $color-grey;
	    position: absolute;
	    top: rem(16);
	    @include font-size(16);
	    @include line-height(16);
	    @include transition(.2s ease-out);
	}
	
	label.filled {
		top: rem(-10);
	}
	
	input[type="text"], textarea {
		width: 100%;
		height: 40px;
		box-sizing: border-box;
	    padding: 10px 50px 10px 0;
	    margin: 5px 0;
	    @include font-size(16);
	    @include line-height(16);
	    color: $color-dark;
	    background-color: $color-light;
	    border: none;
	    border-bottom: 2px solid $color-dark;
		&:focus:not([readonly]) {
			outline: none;
		    border-bottom: 2px solid $color-main;
	    }
		&:focus:not([readonly])+label {
		    color: $color-main;
		    top: rem(-10);
	    }
	}
	
	textarea {
	    height: auto;
    }
}