input, textarea, select, button {
	font-family: $font-stack; // Fixes Mozilla issue
}

.input-element {
	position: relative;
	margin-top: rem(48);
	label {
		color: $color-grey;
	    position: absolute;
	    display: block;
	    top: rem(16);
	    @include font-size(16);
	    @include line-height(16);
	    @include transition(.2s ease-out);
	    &.filled {
		    top: rem(-10);
			color: $color-main;
	    }
	}
    .input-icon {
	    position: absolute;
	    vertical-align:top;
	    color: $color-main;
	    top: rem(10);
	    & ~ label {
			margin-left: rem(30);
			&.filled {
				margin-left: 0;
			}
    	}
    	
    	& ~ input {
	    	padding-left: rem(30);
    	}
    	
    }
    
    &.input-name > .input-icon:before {
		content: "\e7fd";
	}
	
	&.input-email > .input-icon:before {
		content: "\e0be";
	}
	
	&.input-address > .input-icon:before {
		content: "\e0c8";
	}
	
	&.input-password > .input-icon:before {
		content: "\e897";
	}
	
	&.input-phone > .input-icon:before {
		content: "\e0cd";
	}
	
	&.input-id > .input-icon:before {
		content: "\e90d";
	}
	
	&.input-valid {
	    @include validation-style(true);
    }
    
	&.input-invalid {
		@include validation-style(false);
		&:after {
			content: "This input is not valid";
			color: $color-warn;
			@include font-size(12);
			position: absolute;
		}
    }
    
}

input[type="text"], textarea, input[type="password"] {
	width: 100%;
	height: 40px;
	box-sizing: border-box;
    padding: 10px 50px 10px 0;
    margin: 5px 0;
    @include font-size(16);
    @include line-height(16);
    color: $color-dark;
    background-color: $color-light;
    border: none;
    border-bottom: 1px solid $color-main;
	&:focus:not([readonly]) {
		outline: none;
	    border-bottom: 2px solid $color-main;
    }
	&:focus:not([readonly])+label {
	    color: $color-main;
	    top: rem(-10);
	    margin-left: 0;
    }
    &[disabled] {
		@include cursor('disabled');
	}
}
	
textarea {
    min-height: rem(100);
    resize: none;
    overflow-y: hidden;
}

.select-element {
	select {
		display: none;
	}
	position: relative;
	.select-content {
		margin-top: rem(-5);
		opacity: 0;
		visibility: hidden;
		height: 0;
		@include transition(opacity 0.4s ease-in);
		&.active-select {
			opacity: 1;
			visibility: visible;
			height: auto;
			@include transition(opacity 0.4s ease-out);
		}
	}
	ul {
		padding-top: 0px;
	}
	li {
		border-bottom: 1px solid $color-main;
		padding: rem(10) rem(5);
		&:hover {
			background-color: $color-main;
			color: $color-light;
		}
	}
	.caret-icon, .caret-icon-active {
		color: $color-main;
	    position: absolute;
	    right: 0;
	    top: rem(15);
	}
	.caret-icon:before {
		content: "\e5cf";
	}
	.caret-icon-active:before {
		content: "\e5cd";
	}
	.caret-icon, input, li {
		cursor: pointer;
	}
}

.options-group {
	display: block;
	&.inline {
		.option-element {
			display: inline-block;
			padding-right: rem(16);
		}
	}
}

.option-element {
	position: relative;
	margin: rem(16) 0;
	input[type="radio"], input[type="checkbox"] {
		visibility: hidden;
		position: absolute;
		left: 0;
		&+label {
			display: inline-block;
			cursor: pointer;
			padding-left: rem(24);
		}
		&:disabled {
			&+label {
				color: $color-grey;
			}
			&+label:before {
				border-color: $color-grey;
			}
			&+label, &+label:before {
				@include cursor('disabled');
			}
		}
	}
	input[type="checkbox"] {
		&+label:before {
			content: ' ';
			position: absolute;
			top: -1px;
			left: 0;
			width: rem(12);
			height: rem(12);
			border: 2px solid $color-main;
			@include transition(0.2s);
		}
		&:checked {
			&+label:before {
				content: ' ';
				border-top-color: transparent;
				border-left-color: transparent;
				width: rem(6);
				transform-origin: 120% 80%;
				@include transform(rotate(35deg));
			}
		}
	}
	input[type="radio"] {
		&+label:before {
			content: ' ';
			position: absolute;
			top: -1px;
			left: 0;
			width: rem(12);
			height: rem(12);
			border: 2px solid $color-main;
			border-radius: 9999px;
			background-color: transparent;
			@include transition(0.4s ease-out);
		}
		&:checked {
			&+label:before {
				content: ' ';
				background-color: $color-main;
			}
		}
	}
}