.form-element {
	@include form-element;
	height: 40px;
}

textarea.form-element {
	height: auto;
}

.options-group {
	margin: 10px 0;
	.checkbox, .radio {
		display: block;
	    padding: 5px 0;
	    float: left; // Decrease the dimension of the interaction area
		clear: both; // Decrease the dimension of the interaction area
	    &.disabled {
		    color: $color-grey;
		    @include cursor('disabled');
	    }
	}
	&.inline {
		.checkbox, .radio {
			display: inline-block;
			padding-right: 15px;
			float: left;
			clear: none;
		}
	}
	input[type="checkbox"], input[type="radio"] {
		@include option;
	    &:checked {
			background-color: $color-main;
		}
		&[disabled] {
		    border-color: $color-grey;
		}
		&:focus {
			outline: none;
		}
		&[disabled] {
			@include cursor('disabled');
		}
	}
	input[type="radio"] {
		border-radius: rem($font-size);
	}
}

