a {
	text-decoration: none;
	color: $color-confirm;
	font-weight: $font-bold;
	@include link('default');
	&:visited {
		@include link('visited');
	}
	&:hover {
		@include link('hover');
	}
	&:active {
		@include link('active');
	}
}

a.button {
	text-decoration: none;
	color: $color-light;
	@include line-height(60);
	&:visited {
		text-decoration: none;
	}
	&:hover {
		text-decoration: none;
	}
	&:active {
		text-decoration: none;
	}
}

button {
	border: none;
	line-height: initial;
	margin: 5px 0;
	outline: none;
}

.button-sm {
	@include button($size: 'small');
}

.button-md {
	@include button($size: 'medium');
}

.button-lg {
	@include button($size: 'large');
}

.button-sm.disabled {
	@include button($size: 'small', $disabled: true);
}

.button-md.disabled {
	@include button($size: 'medium', $disabled: true);
}

.button-lg.disabled {
	@include button($size: 'large', $disabled: true);
}

.button-sm.empty {
	@include empty-button($size: 'small');
}

.button-md.empty {
	@include empty-button($size: 'medium');
}

.button-lg.empty {
	@include empty-button($size: 'large');
}

.button-sm.empty.disabled {
	@include empty-button($size: 'small', $disabled: true);
}

.button-md.empty.disabled {
	@include empty-button($size: 'medium', $disabled: true);
}

.button-lg.empty.disabled {
	@include empty-button($size: 'large', $disabled: true);
}