a {
	@include link('default');
	&:visited {
		@include link('visited');
	}
	&:hover {
		@include link('hover');
	}
	&:active {
		@include link('active');
	}
}

a.textual {
	@extend a;
	color: $color-confirm;
	text-decoration: none;
	font-weight: $font-bold;
	&:visited {
		color: $color-confirm;
	}
	&:hover {
		color: $color-warn;
		text-decoration: underline;
	}
	&:active {
		color: $color-warn;
		text-decoration: underline;
	}

}

a.button-sm {
	@include button($size: 'small');
}

a.button-md {
	@include button($size: 'medium');
}

a.button-lg {
	@include button($size: 'large');
}

a.button-sm.disabled {
	@include button($size: 'small', $disabled: true);
}

a.button-md.disabled {
	@include button($size: 'medium', $disabled: true);
}

a.button-lg.disabled {
	@include button($size: 'large', $disabled: true);
}

a.button-sm.empty {
	@include empty-button($size: 'small', $txt-color: $color-main);
}

a.button-md.empty {
	@include empty-button($size: 'medium', $txt-color: $color-main);
}

a.button-lg.empty {
	@include empty-button($size: 'large', $txt-color: $color-main);
}

a.button-sm.empty.disabled {
	@include empty-button($size: 'small', $disabled: true);
}

a.button-md.empty.disabled {
	@include empty-button($size: 'medium', $disabled: true);
}

a.button-lg.empty.disabled {
	@include empty-button($size: 'large', $disabled: true);
}