%list {
	@include line-height(24);
	padding-top: 10px;
}

ul {
	@extend %list;
}

ol {
	@include ordered-list;
}

ol.decimal{
	@include ordered-list('decimal');
}

ol.roman {
	@include ordered-list('roman');
}

ol.letters {
	@include ordered-list('letters');
}

ul.inline>li {
	display: inline-block;
	padding-right: 1rem;
}

ol.inline>li {
	float:left;
	padding-right: 1rem;
}

dl {
	@include description-list;
}