.tab-group {
	position: relative;
	.tab-content {
		clear: both;
		display: none;
		background-color: $color-main;
		color: $color-light;
		padding: rem(10);
	}
	
	.tab-active {
		display: block;
	}
	.tab-names {
		
		a {
			background-color: lighten($color-main, 30%);
			cursor: pointer;
			color: $color-light;
			padding: rem(10);
			float: left;
			text-decoration: none;
			&.tab-name-active {
				background-color: $color-main;
			}
		}
		@include break-small {
			overflow-x: hidden;
			a {
				width: 100%;
			}
		}
	}
}