html{
	font-size: 62.5%;
}

body{ 
	font-size:1rem;
	font-family: $font-stack;
	color: $font-color;
	@include font-size(16);	
}

h1 {
	@include heading($h1);
}
h2 {
	@include heading($h2);
}
h3 {
	@include heading($h3);
}
h4 {
	@include heading($h4);
}
h5 {
	@include heading($h5);
}
h6 {
	@include heading($h6);
}

h1.light {
	@include heading($h1, $font-light);
}
h2.light {
	@include heading($h2, $font-light);
}
h3.light {
	@include heading($h3, $font-light);
}
h4.light {
	@include heading($h4, $font-light);
}
h5.light {
	@include heading($h5, $font-light);
}
h6.light {
	@include heading($h6, $font-light);
}

h1.bold {
	@include heading($h1, $font-bold);
}
h2.bold {
	@include heading($h2, $font-bold);
}
h3.bold {
	@include heading($h3, $font-bold);
}
h4.bold {
	@include heading($h4, $font-bold);
}
h5.bold {
	@include heading($h5, $font-bold);
}
h6.bold {
	@include heading($h6, $font-bold);
}

hr {
	@include hr;
}

hr.dotted {
	@include hr('dotted');
}

hr.double {
	@include hr('double');
}

hr.dashed {
	@include hr('dashed');
}

hr.ridge {
	@include hr('ridge');
}

hr.outset {
	@include hr('outset');
}

hr.inset {
	@include hr('inset');
}

hr.groove {
	@include hr('groove');
}

p {
	@include line-height(20);
	padding: 10px 0;
}

p.txt-left {
	text-align: left;
}

p.txt-center {
	text-align: center;
}

p.txt-right {
	text-align: right;
}

p.txt-justify {
	text-align: justify;
}

strong {
	font-weight: $font-bold;
}

em {
	font-style: italic;
}

u {
	text-decoration: underline;
}

mark {
	@include highlight;
}

mark.warning {
	@include highlight('warning');
}

s {
    text-decoration: line-through;
}

blockquote {
	@include line-height(20);
    border-left: 5px solid $color-grey;
    padding: 0 0 0 20px;
    margin: 20px 0;
}

span.quote-auth {
	font-style: italic;
	&:before {
		content: "\2014 \00a0";
	}
}

q {
	font-style: italic;
	&:before {
		content: "\00AB";
	}
	&:after {
		content: "\00BB";
	}
}

code {
    background-color: $color-grey;
    display: block;
    padding: 20px;
    margin: 20px 0;
}