// Colors 
$color-main: #3d5a80; //rgba(61, 90, 128, 100)
$color-dark: #0d1b1e; //rgba(13, 27, 30, 100)
$color-light: #fbfef9; //rgba(251, 254, 249, 100)
$color-warn: #e54b4b; //rgba(229, 75, 75, 100)
$color-confirm: #1b998b; //rgba(27, 153, 139, 100)

$color-grey: lighten(grayscale($color-main), 30%);
$color-dark-grey: grayscale($color-main);

// Fonts
@import url(https://fonts.googleapis.com/css?family=Roboto:100,400,700);
$imported-font: 'Roboto';

// Reference https://design.google.com/icons
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
$material-font: 'Material Icons';

$font-stack: $imported-font, Helvetica, sans-serif;
$font-light: 100;
$font-normal: 400;
$font-bold: 700;
$font-color: $color-dark;

// Font values for headings
$h1: 36;
$h2: 30;
$h3: 24;
$h4: 18;
$h5: 14;
$h6: 12;